* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.title {
  width: 100%;
  background-color: #24292f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.companyname {
  font-size: 2rem;
  color: aqua;
  font-style: oblique;
  padding: 2rem 0 0 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.main-heading {
  margin: 1rem;
  font-size: 1.5rem;
  color: white;
}
h2 {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.form {
  padding: 4rem;
}
.form label {
  display: block;
  font-size: 1.5rem;
  font-family: sans-serif;
  margin: 1rem 0 0.5rem 0;
  color: grey;
}
.form input {
  margin-left: 0.5rem;
  font-size: 1.1rem;
  outline: none;
  padding: 0.3rem;
}
.forgotpasscode {
  display: flex;
  padding-top: 0.3rem;
  flex-direction: row-reverse;
}
.forgotpasscode a {
  padding-right: 2rem;
  text-decoration: none;
  color: blue;
}
input {
  outline: none;
  border: 1px solid black;
  border-radius: 5px;
}
#mobiledisappear {
  display: none;
}
input:focus {
  border: 1px solid aqua;
}
button {
  background-color: #2da44e;
  outline: none;
  cursor: pointer;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
}
a {
  text-decoration: none;
  color: blue;
  cursor: pointer;
}

.links {
  width: 100%;
  display: flex;
  padding-top: 2vh;
  justify-content: space-between;
}
.Login {
  margin: 2rem 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Login button {
  padding: 0.7rem 1.3rem;
  border-radius: 5px;
  border: 1px solid white;
}
.eye {
  padding: 0.3rem;
}
@media screen and (max-width: 400px) {
  .form input {
    font-size: 0.8rem;
  }
  .form {
    padding: 0.8rem;
  }
}
@media screen and (max-width: 280px) {
  .form input {
    width: 70vw;
  }
}
@media screen and (min-width: 600px) {
  .container {
    display: flex;
    flex-direction: row;
  }
  #mobiledisappear {
    display: flex;
  }
  #computer-disappear {
    display: none;
  }
  .title {
    justify-content: flex-start;
    min-width: 40%;
    max-width: 40%;
  }
  .form {
    padding: 15vh 0;
    width: 60%;
  }
  button:hover{
      background-color: aqua;
      color: green;
  }
  label {
    padding-left: 4vh;
  }

  .form div input {
    margin-left: 7vh;
    width: 70%;
  }
  .forgotpasscode {
   width: 100%;
  }
  .companyname {
    padding: 5rem 2rem 5rem 2rem;
  }
  .links{
      width: 100%;
  }
}
